* {
	box-sizing: border-box;
}

body {
	background-color: #669999;
	width: 100%;
	font-family: calibri, "Helvetica Neue", Helvetica, Arial, sans-serif
}

/* Entry Header */
.titlebar {
	/*background-color: #9999FF;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
	*/
	text-align: center;
}

.additem {
	width: 70%;
	margin: auto;
	text-align: center;
}

.addbutton {
	border: 1px solid blue;
}

.btn {
	border-radius: 50%;
	padding: 1%;
}

.instructions {
	width: 100%;
	margin: 1%;
	text-align: center;
}


/* Entry Lines */
.entry-lines {
	width: 70%;
	margin: auto;
	text-align: center;
}

.item-list {
	list-style-type: none;
	padding-left: 0;
}

.list-item {
	margin-top: 1%;
	/*background-color: #9999FF;*/
	cursor: pointer;
}

.list-input {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 70%;
}

/* Page Footer */
.page-footer {
	background-color: #9999FF;
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
}

/* Item States */
.checked-item {
	border: none;
	background-color: #A5C0CF;
	text-decoration: line-through;
}

h1, h4 {
	border-radius: 5px;
	border: #476B6B solid 1px;
}

.jumbotron, h1, h3, h4{
	background-color: #A5C0CF;
}

.jumbotron, h1, h3, h4, .btn-default, .list-group {
	border: #476B6B solid 5px;
}

.jumbotron {
	margin-bottom: 0px;
}
